RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

#Admin Route
RewriteRule ^admin/blog/edit/([a-zA-Z0-9_-]+)$ ./admin/pages/blog/edit-blog.php?id=$1
RewriteRule ^admin/daftar-blog ./admin/pages/blog/daftar-blog.php
RewriteRule ^admin/cms-blog ./admin/pages/blog/cms-blog.php
RewriteRule ^admin/kategori-blog ./admin/pages/blog/kategori-blog.php

RewriteRule ^admin/daftar-user ./admin/pages/user/daftar-user.php
RewriteRule ^admin/level-user ./admin/pages/user/level-user.php

RewriteRule ^admin/daftar-barang ./admin/pages/produk/daftar-barang.php
RewriteRule ^admin/tambah-barang ./admin/pages/produk/tambah-barang.php
RewriteRule ^admin/jenis-kain ./admin/pages/produk/jenis-kain.php
RewriteRule ^admin/jenis-produk ./admin/pages/produk/jenis-produk.php

RewriteRule ^admin/galeri ./admin/pages/galeri/cms-galeri.php

#Route Landing Page

RewriteRule ^blog ./pages/blog/index.php
Rewriterule ^detail-blog/([a-zA-Z0-9_-]+)$ ./pages/blog/blog.php?slug=$1

RewriteRule ^kontak ./pages/kontak/index.php
RewriteRule ^galeri ./pages/galeri/index.php